html {
    font-family: sans-serif;
}

body {
    background-image: -webkit-linear-gradient(top,#236467,#67989A);
    background-image: -o-linear-gradient(top,#236467 0,#67989A 100%);
    background-image: linear-gradient(180deg,#236467 0,#67989A);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FF236467",endColorstr="#FF67989A",GradientType=0);
}

body {
    font-family: Lato,Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.58;
    color: #555;
    background-color: #fff;
}

body {
    margin: 0;
}

*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.card {
    border-radius: .25rem;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    margin-bottom: 3rem;
}

.card .card-block {
    padding: 4rem;
}

@media (min-width:992px) {
	.card .card-block {
	padding:6rem}
}